# Python / Poetry
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry virtual environments
/.venv/
*.venv/
.venv/
.venv/**

# Poetry lock file is tracked (we want this!), but caches can be ignored
poetry.lock
*.egg-info/
dist/
build/


# Jupyter Notebook
# Checkpoints
.ipynb_checkpoints/


# macOS
.DS_Store


# VS Code
.vscode/


# Data files
# Ignore all data files by default; track only what you want in Git
data/*.csv
# Keep the sample for collaboration
!data/sample.csv
data/*.json
data/*.parquet
